.subcontainer {
  --border-width: 2px;
  --clip-path-point-1: 100% 0;
  --clip-path-point-2: 100% calc(100% - 40px);
  --clip-path-point-3: calc(100% - 40px) 100%;
  --clip-path-point-4: 20px 100%;
  --clip-path-point-5: 0 calc(100% - 25px);
  --clip-path-point-6: 0 15px;
  --clip-path-point-7: 15px 0;

  --drop-shadow-offset-x: 15px;
  --drop-shadow-offset-y: 10px;

  padding-right: clamp(20px, 5%, 10px);
  padding-right: 1px;
}

.card_graphic {
  clip-path: polygon(
    var(--clip-path-point-1),
    var(--clip-path-point-2),
    var(--clip-path-point-3),
    var(--clip-path-point-4),
    var(--clip-path-point-5),
    var(--clip-path-point-6),
    var(--clip-path-point-7)
  );
}

.card_graphic_wrapper {
  filter: drop-shadow(calc(-1 * var(--border-width)) 0 0 var(--cyber-green))
    drop-shadow(0 calc(-1 * var(--border-width)) 0 var(--cyber-green))
    drop-shadow(var(--border-width) 0 0 var(--cyber-green))
    drop-shadow(0 var(--border-width) 0 var(--cyber-green))
    drop-shadow(
      var(--drop-shadow-offset-x) var(--drop-shadow-offset-y) 0
        var(--cyber-green)
    );
}

@media (max-width: 1024px) {
  .subcontainer {
    --clip-path-point-2: 100% calc(100% - 20px);
    --clip-path-point-3: calc(100% - 20px) 100%;
    --clip-path-point-4: 10px 100%;
    --clip-path-point-5: 0 calc(100% - 10px);
    --clip-path-point-6: 0 5px;
    --clip-path-point-7: 5px 0;
    --drop-shadow-offset-x: 10px;
    --drop-shadow-offset-y: 5px;
  }
}

@media (max-width: 768px) {
  .subcontainer {
    --border-width: 1px;
  }
}

@media (max-width: 640px) {
  .subcontainer {
    --drop-shadow-offset-x: 5px;
    --drop-shadow-offset-y: 2px;
  }
}
