.container {
  --border-width: 2px;
  --mr: 2%;
  --clip-path-point-1: 100% 0;
  --clip-path-point-2: 100% calc(100% - 15px);
  --clip-path-point-3: calc(100% - 15px) 100%;
  --clip-path-point-4: 8px 100%;
  --clip-path-point-5: 0 calc(100% - 8px);
  --clip-path-point-6: 0 0;
  --clip-path-point-7: 0 0;

  --drop-shadow-offset-x: 8px;
  --drop-shadow-offset-y: 5px;
}

.content {
  margin-right: var(--mr, 2%);
}

.card_graphic {
  clip-path: polygon(
      var(--clip-path-point-1),
    var(--clip-path-point-2),
    var(--clip-path-point-3),
    var(--clip-path-point-4),
    var(--clip-path-point-5),
    var(--clip-path-point-6),
    var(--clip-path-point-7)
  );
}

.card_graphic_wrapper {
  filter: drop-shadow(calc(-1 * var(--border-width)) 0 0 var(--cyber-green))
    drop-shadow(0 calc(-1 * var(--border-width)) 0 var(--cyber-green))
    drop-shadow(var(--border-width) 0 0 var(--cyber-green))
    drop-shadow(0 var(--border-width) 0 var(--cyber-green))
    drop-shadow(
      var(--drop-shadow-offset-x) var(--drop-shadow-offset-y) 0
        var(--cyber-green)
    );
  transition: filter 150ms ease-in-out, transform 150ms ease-in-out;
}

@media (max-width: 1800px) {
  .container {
    --mr: 2%;
  }
}

@media (max-width: 1024px) {
  .container {
    --clip-path-point-2: 100% calc(100% - 10px);
    --clip-path-point-3: calc(100% - 10px) 100%;
    --clip-path-point-4: 5px 100%;
    --clip-path-point-5: 0 calc(100% - 5px);
    --drop-shadow-offset-x: 10px;
    --drop-shadow-offset-y: 5px;
  }
}

@media (max-width: 768px) {
  .container {
    --border-width: 1px;
    --mr: 3%;
  }
}

@media (max-width: 640px) {
  .container {
    --drop-shadow-offset-x: 5px;
    --drop-shadow-offset-y: 2px;
  }
}

@media (max-width: 425px) {
  .container {
    --mr: 5%;
  }
}

@media (pointer: fine), (pointer: none) {
  .container {
    --drop-shadow-offset-x: 0px;
    --drop-shadow-offset-y: 0px;
  }
  .container:hover {
    --drop-shadow-offset-x: 8px;
    --drop-shadow-offset-y: 5px;
  }

  .card_graphic_wrapper {
    transform: translate(
      calc(-0.25 * var(--drop-shadow-offset-x)),
      calc(-0.25 * var(--drop-shadow-offset-y))
    );
  }
}
