@import url("https://fonts.googleapis.com/css?family=Roboto:bold,wght@100-500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyber-black: #282828;
  --cyber-green: #33FF00;
  --cyber-amber: #FFB000;
}

@property --scrolled {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#__next{
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
    --scrolled: 0;
  }
  to {
    transform: scaleX(1);
    --scrolled: 101;
  }
}

#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1em;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  background: rgb(255, 100, var(--scrolled));
}

.opacity-0{
  opacity: 0;
}